@import '../../scss-common/Common.scss';

.load-screen {
    @include flex-column-center-center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: black;
    z-index: 100;
    font-size: 5em;
    gap: 0.5em;
    pointer-events: none;
    transition: opacity 500ms ease;

    &.on-screen {
        transition: opacity 0ms ease;
        opacity: 1;
        pointer-events: all;
    }

    &__logo {
        max-width: 200px;
    }

}