$nav-height: 60px;
$main-headers-font-style: Dosis, Prata, Roboto, Arial;
$main-headers-font-size: 2.2em;
$emphasis-color: #D6D944;

@mixin four-corners {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@mixin fixed-four-corners {
    @include four-corners;
    position: fixed;
}

@mixin absolute-four-corners {
    @include four-corners;
    position: absolute;
}

@mixin flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-space_evenly-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center
}

@mixin flex-column-center-center {
    @include flex-row-center-center;
    flex-direction: column;
}

@mixin flex-row-center {
    display: flex;
    justify-content: center;
}

@mixin circle($diameter) {
    width: $diameter;
    height: $diameter;
    border-radius: 50%;
}