.parallax {
    width: 100%;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(33, 30, 28);
}