@import '../../../scss-common/Common.scss';

.brand-description {
    display: flex;
    justify-content: center;
    min-height: 400px;
    position: relative;
    background: black;
    padding: 3em 2em;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    &__header.main-header {
        width: 90%;
        font-size: $main-headers-font-size;
        font-family: $main-headers-font-style;
        text-align: center;
    }

    &__text {
        font-size: 1.4em;
        line-height: 1.8em;
    }

    &__img {
        width: 800px;
        display: none;
    }

}

@media screen and (min-width: 500px) {
    .brand-description__header.main-header {
        font-size: 2.8em;
    }

    .brand-description__text {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1400px) {
    .brand-description__img {
        display: block;
    }
}