@import '../../../scss-common/Common.scss';

$breakpoint: 1100px;

.brand-description {

    @include flex-row-space_evenly-center;
    min-height: 400px;
    position: relative;
    background: black;
    padding: 6em 2em;
    overflow: hidden;

    &__content {
        @include flex-column-center-center;
    }

    &__header.main-header {
        width: 90%;
        font-size: 2.8em;
        font-family: $main-headers-font-style;
        text-align: center;
    }

    &__text {
        font-size: clamp(1.4rem, 0.5vw + 1rem, 1.8rem);
        line-height: 1.8em;
        max-width: 560px;
        text-align: justify;
    }

    &.brand-description__parallax {
        @media screen and (min-width: 1450px) {
            background-position: center -220px;
        }
    }

}

@media screen and (min-width: $breakpoint) {
    .brand-description {

        &>* {
            $duration: 700ms;
            transition:
                transform $duration ease,
                opacity $duration ease;
        }

        &__content {
            opacity: 0;
            transform: translateY(100px);
        }

    }

    .brand-description.on-screen>* {
        opacity: 1;
        transform: none;
    }

}