@import '../../../scss-common/Common.scss';

.nav__links {
    position: absolute;
    left: 0;
    right: 0;
    top: $nav-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 300ms ease;

    &.visible {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

}

@media screen and (min-width: 800px) {
    .nav__links {
        position: static;
        flex-direction: row;
        clip-path: none;
    }
}