.reviews {

    background-image: url('../../pictures/background-1.jpg');

    &__carousel {
        margin: 0 auto;
        padding: 3em 0;
        max-width: 700px;

        @media screen and (min-width: 1200px) {
            padding: 8em 0;
        }
    }

}