.reviews {

    background-image: url('../../pictures/tattoo-artist-working.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__overlay {
        background-color: rgba(0, 0, 0, 0.7);
    }

    &__carousel {
        margin: 0 auto;
        padding: 3em 0;
        max-width: 700px;

        @media screen and (min-width: 1200px) {
            padding: 8em 0;
        }
    }

}