@import '../../scss-common/Common.scss';

.brand-description {
    height: 100%;
    position: relative;
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    &__header,
    &__text {
        $brand-description-transition-duration: 600ms;
        opacity: 0;
        transform: translateY(30px);
        transition:
            opacity $brand-description-transition-duration ease,
            transform $brand-description-transition-duration ease;
    }

    &.visible {

        .brand-description__header,
        .brand-description__text {
            opacity: 1;
            transform: translateY(-1em);
        }
    }

    &__header.main-header {
        width: 90%;
        font-size: $main-headers-font-size;
        font-family: $main-headers-font-style;
        text-align: center;
    }

    &__text {
        width: min(70%, 425px);
        font-size: 1.2em;
        line-height: 1.7em;
    }

}

@media screen and (min-width: 500px) {
    .brand-description__header.main-header {
        font-size: 2.8em;
    }

    .brand-description__text {
        font-size: 1.5em;
    }
}