@import '../../scss-common/Common.scss';

$breakpoint: 1200px;

.contact {

    @include flex-column-center-center;
    background-color: black;
    color: white;

    @media screen and (min-width: $breakpoint) {
        @include flex-row-center-center;
    }

    &__map {
        width: 100vw;
        height: 60vh;

        @media screen and (min-width: $breakpoint) {
            width: 50%;
        }
    }

    &__parallax {
        background-position: center 50px;

        @media screen and (min-width: 1000px) {
            background-image: url('../../pictures/skull.jpg') !important;
        }

    }

}