@import '../../scss-common/Common.scss';

$animation-duration: 1500ms;
$animation-timing-function: linear;

.self-drawing-circle {

    @include flex-row-center-center;
    position: relative;

    &__svg {
        @include flex-column-center-center;
        position: absolute;
        transform: translateY(6px);
    }

    circle {
        --circle-len: 314.16px;
        fill: none;
        stroke: white;
        stroke-width: 1px;
        stroke-dasharray: var(--circle-len);
        stroke-dashoffset: var(--circle-len);
        animation: erase $animation-duration $animation-timing-function forwards;
    }

    g {
        position: absolute;
        justify-self: center;
        align-self: center;
    }

    @keyframes erase {
        from {
            stroke-dashoffset: 100px;
        }

        to {
            stroke-dashoffset: auto;
        }
    }

    &.active {

        circle {
            animation: draw $animation-duration $animation-timing-function forwards;
        }

        @keyframes draw {
            to {
                stroke-dashoffset: 100px;
            }
        }
    }

}