@import '../../scss-common/Common.scss';

.call-to-action {

    font-family: $main-headers-font-style;
    color: white;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8em;
    padding: 0.5em 1em;

    $transition-duration: 300ms;
    transition:
        color $transition-duration ease,
        background-color $transition-duration ease;

    &:hover {
        background: white;
        color: black;
    }

    &.small {
        font-size: 0.9em;
        padding: 0.3em 0.6em;
    }

}