@import '../../scss-common/Common.scss';

$breakpoint: 850px;
$artist-presentation-animation-duration: 900ms;
$artist-presentation-animation-distance: 70px;

@mixin transition-artist-presentation {
    transition:
        opacity $artist-presentation-animation-duration ease,
        transform $artist-presentation-animation-duration ease;
}

.artist {

    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;

    &__presentation {

        width: 100%;
        @include flex-column-center-center;

        @media screen and (min-width: $breakpoint) {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 15em 0;
            gap: 5em;
        }

        @media screen and (min-width: 1300px) {
            gap: 8em;
        }

        &::after {
            content: '';
            background-color: white;
            position: absolute;
            display: none;

            @media screen and (min-width: $breakpoint) {
                display: block;
            }

        }

        &.visible {

            .artist__picture,
            .artist__description {
                opacity: 1;
                transform: none;
            }
        }

    }

    &__header-and-picture {
        @include flex-column-center-center;
        width: 100%;
    }

    &__header {
        font-family: Dosis, Roboto, Arial;
        font-size: 2.3em;
        text-align: center;
        padding: 1em 0;
        max-width: 280px;
        line-height: 1.2em;

        @media screen and (min-width: $breakpoint) {
            display: none;
        }

        &-desktop {

            display: none;

            @media screen and (min-width: $breakpoint) {
                display: block;
                font-size: 4em;
            }

        }

    }

    &__picture {
        @include transition-artist-presentation;
        width: min(60%, 300px);

        @media screen and (min-width: $breakpoint) {
            opacity: 0;
            transform: translateX(calc(-1 * $artist-presentation-animation-distance));
            width: 350px;
        }

    }

    .variable-width {
        width: 0;
        transition: width 1500ms ease;
    }

    &__description {
        @include transition-artist-presentation;
        @include flex-column-center-center;
        width: 100%;
        opacity: 0;
        transform: translateY($artist-presentation-animation-distance);

        @media screen and (min-width: $breakpoint) {
            transform: translateX($artist-presentation-animation-distance);
            gap: 2em;
        }

    }

    &__header-and-picture,
    &__description {
        @media screen and (min-width: $breakpoint) {
            width: auto;
        }
    }

    &__text {
        width: 100%;
        max-width: 400px;
        padding: 3em 1em;
        text-align: justify;
        font-size: 1.2em;
        line-height: 2em;
        font-family: Roboto;
        font-weight: 300;

        @media screen and (min-width: $breakpoint) {
            padding: 0 1em;
        }
    }

    &.visible {
        .variable-width {
            width: 60%;
        }
    }

    &__portfolio {
        background-repeat: no-repeat;
        background-image: url('../../pictures/black-shirt-small.jpg');
        background-position: center center;

        @media screen and (min-width: $breakpoint) {
            &-container {
                order: 1;
            }
        }
    }

    &__instagram {
        background-position: center;
        background-image: url('../../pictures/hands-small.jpg');

        @media screen and (min-width: $breakpoint) {
            &-container {
                order: 2;
            }
        }
    }

    &__facebook {
        background-image: url('../../pictures/lion-small.jpg');
        background-position: center;
    }

    &__links {

        width: 100%;

        @media screen and (min-width: $breakpoint) {
            display: flex;
        }

    }

    .artist__parallax {
        @media screen and (min-width: 1050px) {
            background-position: center -100px;
        }

        @media screen and (min-width: 1220px) {
            background-position: center -200px;
        }

        @media screen and (min-width: 1340px) {
            background-position: center -250px;
        }

        @media screen and (min-width: 1500px) {
            background-position: center -300px;
        }

        @media screen and (min-width: 1650px) {
            background-position: center -350px;
        }

        @media screen and (min-width: 1700px) {
            background-position: center -500px;
        }
    }

    &__book-session {

        @media screen and (min-width: 1000px) {
            background-position: center -150px;
        }

        @media screen and (min-width: 1300px) {
            background-position: center -200px;
        }

        @media screen and (min-width: 1500px) {
            background-position: center -250px;
        }

        @media screen and (min-width: 1750px) {
            background-position: center -300px;
        }

    }

}