.direction-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &__icon {
        color: white;
        background-color: black;
        border-radius: 50%;
        font-size: 2.5em;
        transition: color 300ms ease;
    }

    &:hover {

        .direction-button__icon {
            color: rgb(205, 195, 195);
        }

    }

}