$breakpoint: 800px;

.direction-button {
    $distance-from-border: 1em;
    $transition-distance: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 80px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: white;
        right: 0.5em;
        border-radius: 10px;
        transform-origin: right center;
        transition: background-color 300ms ease;

        @media screen and (min-width: $breakpoint) {
            width: 50px;
        }

    }

    &::before {
        transform: rotate(30deg) translateY(1px);
    }

    &::after {
        transform: rotate(-30deg) translateY(-1px);
    }

    &.left {

        left: $distance-from-border;
        transform: rotate(180deg);

        &:hover {
            transform: rotate(180deg) translateX($transition-distance);
        }
    }

    &.right {
        right: $distance-from-border;

        &:hover {
            transform: translateX($transition-distance);
        }
    }

    @media screen and (min-width: 500px) {
        &:hover {

            &::before,
            &::after {
                background-color: rgb(114, 117, 117);
            }

        }
    }

    @media screen and (min-width: $breakpoint) {
        width: 80px;
        height: 100px;
    }

}