@import '../../../scss-common/Common.scss';

.gallery__image-container {

    flex-basis: 100%;
    position: relative;
    cursor: zoom-in;
    list-style: none;
    overflow: hidden;
    height: 500px;

    @media screen and (min-width: 700px) {
        flex-basis: 48%;
    }

    @media screen and (min-width: 1000px) {
        flex-basis: 31%;
    }

    @media screen and (min-width: 1300px) {
        flex-basis: 23%;
    }

    .gallery__image-overlay {
        @include absolute-four-corners;
        background-color: black;
        opacity: 0;
        transition: opacity 300ms ease;
    }

    .gallery__image {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 300ms ease;
    }

    &:hover {
        .gallery__image-overlay {
            opacity: 0.3;
            z-index: 1;
        }

        .gallery__image {
            transform: scale(1.1);
        }
    }

}