@import '../../../scss-common/Common.scss';

.our-services {

    @include flex-row-space_evenly-center;
    background-image: url('../../../pictures/background-1.jpg');
    background-repeat: no-repeat;
    background-color: rgb(21, 22, 22);
    background-size: 100% 100%;
    padding: 0 0.3em;
    overflow: hidden;

    &__overlay {
        @include flex-row-space_evenly-center;
        width: 100%;
        height: 100%;
        padding: 3em 0;
    }

    &__img,
    &__text {
        transition: transform 700ms ease;
    }

    &__img {
        width: 50%;
        transform: translateX(-100vw);
    }

    &__text {

        line-height: 1.6em;

        @media screen and (min-width: 830px) {
            padding: 0 1em;
            max-width: 510px;
            transform: translateX(100vw);
            font-size: clamp(1.4rem, 0.5vw + 1rem, 1.8rem);
        }

    }

    &__background {
        background-position: center 0px;
        overflow: hidden;
    }

    &.on-screen * {
        transform: translateX(0);
    }

}