@import '../../scss-common/Common.scss';

.icon-with-text {

    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    text-align: left;

    &__link {
        text-decoration: underline;
        cursor: pointer;
    }

    &.facebook {
        transform: translateX(5px);
    }

}