@import '../../scss-common/Common.scss';

.nav {

    background-color: transparent;
    height: $nav-height;
    padding: 0 1.2em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: background-color 400ms ease;

    &.colored {
        background-color: black;
    }

    &__homepage-link {
        padding: 1em 2em 1em 1em;
    }


}

@media screen and (min-width: 800px) {
    .nav__hamburguer {
        display: none;
    }
}