@import '../../scss-common/Common.scss';

.nav {

    background-color: transparent;
    height: $nav-height;
    padding: 0 1.2em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: background-color 400ms ease;

    &.colored {
        background-color: black;
    }

    &__logo {
        @media screen and (min-width: 600px) {
            margin-left: 2em;
        }

        @media screen and (min-width: 800px) {
            margin-left: 3em;
        }

        @media screen and (min-width: 1000px) {
            margin-left: 5em;
        }

        @media screen and (min-width: 1500px) {
            margin-left: 7em;
        }

    }

}

@media screen and (min-width: 800px) {
    .nav__hamburguer {
        display: none;
    }
}