@import '../../scss-common/Common.scss';

.rotated-header-section {
    background-color: black;
    height: 100%;
    position: relative;

    &.visible {
        .rotated-header-section__header {
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            opacity: 1;
        }

        .rotated-header-section__text {
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
            opacity: 1;
        }
    }

    &__header {
        background-color: white;
        font-family: $main-headers-font-style;
        text-align: center;
        transform-origin: left top;
        transform: rotate(-90deg) translateX(-100%);
        width: 100vh;
        height: 40vw;
        font-size: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: clip-path 1000ms ease;
    }

    &__text {
        color: white;
        width: 60vw;
        padding: 0 1.2em;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 1.2em;
        line-height: 3em;
        display: flex;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: opacity 800ms ease;
    }

}