.nav__li {
    list-style: none;
    width: 100%;
}

.nav__link {
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 1.8em;
    width: 100%;
    display: block;
    list-style: none;
    text-align: center;
    overflow-y: hidden;

    &-text {
        display: block;
        transform: translateY(350%);
        transition: transform 400ms ease 300ms;
    }

}

.nav__links.visible {
    .nav__link-text {
        transform: none;
    }
}

@media screen and (min-width: 800px) {
    .nav__link {
        background-color: inherit;
        color: white;
    }
}